<html>
  <head>
  </head>
    <body>
        <form action='/test' method="POST">
          <label>username</label>
          <input type='text' name='username'>

          <label>password </label>
          <input type='integer' name='password'>

          <label>email</label>
          <input type='text' name='email'>

          <label>phone number </label>
          <input type='text' name='number'>

          <label>first name </label>
          <input type='text' name='firstName'>


          <label>last name </label>
          <input type='text' name='lastName'>


          <button type='submit'>Create </button>
        </form>


        <form action='/testRequest' method="POST">
          <label>title</label>
          <input type='text' name='title'>

          <label>year </label>
          <input type='integer' name='year'>

          <label>status</label>
          <input type='text' name='status'>

          <label>userId </label>
          <input type='text' name='userId'>


          <button type='submit'>Create </button>



        </form>
    </body>

<html>
